.colorGreen {
  background-color: #506c64;
}
.colorMenu {
  background-color: #eee0cb !important;
}
.burgerMenu {
  margin-right: 5px;
}
.colorFooter {
  color: #eee0cb !important;
}
.pricePosition {
  position: absolute;
  bottom: 0;
}
.productName{
  font-family: 'Kalam', cursive;
}
.productDescription{
  font-family: 'Montserrat', sans-serif;
}
.connect:hover{
  background-color: #506c64 !important;
  color: #eee0cb !important;
}
body{
  height: 100vh;
}
header {
  background-color: #506c64;
  display: flex;
  height: 116px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-right: 5px;
}
header img {
  width: 80px;
  margin-left: 30px;
}

h1 {
  display: none;
  color: #eee0cb !important;
}
h2 {
  color: #882a1b !important;
}
h3{
  font-family: 'Quicksand', sans-serif;
  color: #eee0cb !important;
}
h4{
  font-family: 'Quicksand', sans-serif;
}
footer {
  height: 100px;
}
@media screen and (min-width: 700px) {
  h1 {
    display: block;
    margin: 0 auto;
  }
  .burgerMenu {
    display: none;
  }
  h3 {
    margin-left: 3%;
  }
}
